*DS_Store*
*.pbxuser
*.perspectivev3
Makefile
unix/Makefile
*.cache
*.log
*.dSYM
*.hmap
*.dep
*.o
*.LinkFileList
*.dat
*.pbxbtree
config.h
confdefs.h
*~
*.status
*.pbxstrings
*.pbxsymbols
*.pbxindex
*.build
build/*
unix/LocalContentUpdater
*.xcworkspacedata
*.xcuserstate
*/xcuserdata/*
*.xcuserdatad
